@tailwind base;
@tailwind components;
@tailwind utilities;


/*///*Estilos generales\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@font-face {
    font-family: 'bebas';
    src        : url(fonts/BebasNeue.otf);
    font-weight: normal;
    font-style : normal;
}

.nav_dark {
    @apply bg-[url('/bg_dark_1.png')] bg-contain
}

.nav_light {
    @apply bg-[url('/bg_light.png')] bg-contain bg-bottom
}

.sub-container{
    @apply w-[95%] lg:w-[70%] xxl:w-[60%] mt-6 justify-self-center
}

.custom-box {
    border    : 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc;
}

